/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.mobile
 *= require jquery_mobile/cybertrack-poc-theme.min
 *= require jquery_mobile/jquery.mobile.icons.min
 *= require jquery-mobile/icon-pack/jqm-icon-pack
 *= require jqplot
 */
body, p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size:   13px;
    line-height: 18px;
}
a {
    color: #00a1d9;
}
pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}

div.field, div.actions {
    margin-bottom: 10px;
}

.bg_red { background-color: red; }

.red { color: red; }

.bg_green { background-color: green; }

/* Style the label tag similar to the iphone blue and in a smaller font */
label {
    color: blue;
    font: 13px Calibri,Arial !important;
}

/* Styles for fieldset */
.fieldset_label {
    font-weight:bold;
}

/* Style for button with an image/icon and a text */
.button_image_text {
    display: block;
    float: left;
    margin-right: 0.5em;
    height: 20px;
    width: auto;
}

/*background color of jquery mobile header*/
.ui-page .ui-header {
    background: #33ccff;
}

.nav-search .ui-btn-up-a {
    background-image:none;
    background-color:#333333;
}
.nav-search .ui-btn-inner {
    border-top: 1px solid #888;
    border-color: rgba(255, 255, 255, .1);
}

.tablist-left {
    width: 25%;
    display: inline-block;
}

.tablist-content {
    width: 60%;
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
}
/* center img tag in the parent div */
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* auto size images for responsive webdesign */
img {
    max-width:100%;
    height:auto;
}
