<div id="<%= group.label %>">
  <h2><%= parameters_label(group.label) %></h2>
  <ul data-role="listview" data-inset="true">
    <% group.attributes.each do |blood_bag_attribute| %>
      <li>
        <%= label_tag :externalize, blood_bag_attribute.externalize %>
        <%= blood_bag_attribute.bbat_ExtraInfo %>
      </li>
    <% end %>
  </ul>
</div>