<div data-role="header">
  <h1><%= t('patients.helpers.label.listing') %></h1>
</div>
<div data-role="content">
  <div id="referrals_container">
    <ul data-role="listview" data-inset="true" data-autodividers="true" data-filter-theme="b">
      <% @patients.each do |patient| %>
        <li><%= link_to patient.prsn_Externalization,  patient_blood_selections_path(patient.prsn_Id) %></li>
      <% end %>
    </ul>
  </div>
</div>