<h1><%= t('patients.helpers.label.listing') %></h1>
<%= content_tag 'div', id: 'grid', data: {
                             url: "#{RestHelper.rest_root_url}/bloodselections/patients",
                             locale: I18n.locale,
                             authorization: @http_basic_authorization,
                             labels: {
                                     surname: t('patients.helpers.label.surname'),
                                     firstName: t('patients.helpers.label.first_name'),
                                     birthDate: t('patients.helpers.label.birthdate'),
                                     externalization: t('patients.helpers.label.externalization'),
                                     bloodselections: t('patients.helpers.label.bloodselections')
                             }
                     } do %>
<% end %>
<script>
    $(document).ready(function () {
        var crudServiceBaseUrl = $('#grid').data('url');
        var locale = $('#grid').data('locale');
        var httpBasicAuthorization = $('#grid').data('authorization');
        var dataSource = createPatientKendoDataSource(crudServiceBaseUrl, httpBasicAuthorization);
        var surnameLabel = $('#grid').data('labels').surname;
        var firstNameLabel = $('#grid').data('labels').firstName;
        var birthDateLabel = $('#grid').data('labels').birthDate;
        var externalizationLabel = $('#grid').data('labels').externalization;
        var bloodSelectionsLabel = $('#grid').data('labels').bloodselections;

        var debug = true;

        kendo.culture(locale);
        if (debug) mockGetRequest(crudServiceBaseUrl);
        $("#grid").kendoGrid({
            dataSource: dataSource,
            navigatable: true,
            pageable: true,
            sortable: true,
            filterable: true,
            columns: [
                { field: "prsn_LastName", title: surnameLabel, width: "150px" },
                { field: "prsn_FirstName", title: firstNameLabel, width: "150px" },
                { field: "prsn_BirthDate", title: birthDateLabel, format: "{0:dd/MM/yyyy}", width: "100px"},
                { field: "prsn_Externalization", title: externalizationLabel, width: "300px" },
                { field: "prsn_Object", hidden: true },
//                { field: "amount", format: "{0:c}", width: "150px" },
                { command: [
                    {
                        name: bloodSelectionsLabel,
                        click: function(e) {
                            // e.target is the DOM element representing the button
                            var tr = $(e.target).closest("tr"); // get the current table row (tr)
                            // get the data bound to the current table row
                            var data = this.dataItem(tr);
                            console.log("Details for: " + data.prsn_Object);
                            window.location = "http://127.0.0.1:3600/patients/" + data.prsn_Object + "/blood_selections";
                        }
                    }]
                }
            ]
        });
    });
</script>
