<ul data-role="listview" data-inset="true">
  <% blood_selections.each do |blood_selection| %>
      <li>
        <%= render :partial => 'blood_selection', locals: { blood_selection: blood_selection, patient_id: patient_id } %>
      </li>
  <% end %>
</ul>