<%= content_tag 'fieldset', data: { role: :collapsible, collapsed: false, theme: 'b'} do %>
    <legend><%= t('blood_bags.helpers.label.blood_bag') %></legend>
    <p>Product <%= blood_bag.externalize %></p>
<% end %>
