<%= content_tag 'fieldset', data: { role: :collapsible, collapsed: false, theme: 'c' } do %>
    <legend><%= group[:label] %></legend>
    <% attributes.each do |blood_bag_attribute| %>
            <div>
                <%= label_tag :externalize, blood_bag_attribute.externalize %>
                <%= text_field_tag :bbat_ExtraInfo, nil, autofocus: true %>
            </div>
    <% end %>
<% end %>