<h2><%= parameters_label(group.label) %></h2>
<ul data-role="listview" data-inset="true">
  <% group.attributes.each do |blood_bag_attribute| %>
      <%= fields_for "blood_bag_attribute[]", blood_bag_attribute do |blood_bag_attribute_fields| %>
          <div>
            <%= label_tag :externalize, blood_bag_attribute.externalize %>
            <%= blood_bag_attribute_fields.text_field :bbat_ExtraInfo %>
          </div>
      <% end %>
  <% end %>
</ul>